@import url(https://fonts.googleapis.com/css?family=Tangerine);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: right;
    align-items: right;
    background-color: rgb(96, 0, 148);
    position: sticky;
    top: 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .2s ease;
}

.navbar ul li a:hover {
    background-color: white;
    color: black;
}

#home {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 800px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    /* background: url('../imgs/profile3.jpeg') no-repeat center center/cover; */
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    ;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}

.headings1 {
    font-family: 'Tangerine';
    font-size: 6rem;
    text-align: center;
    color: rgb(79, 35, 121);
}

.headings_hi {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
    color: rgb(79, 35, 121);
}

.headings {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}

#blog {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 3%;
    row-gap: 2%;
}

.box {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 378px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(239, 218, 254) 50%, white 50%);
    background-size: 100% 200%;
}

.box:hover {
    background-position: left bottom;
    overflow: visible;
    white-space: normal;
    height: auto;
    transition: 0.5s ease-in-out;
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

.info {
    text-align: center;
}

.info .address_link .a {
    text-decoration: none;
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    text-align: center;
}

.image {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 30%;
    border: 6px solid white;
    image-resolution: 300dpi;
}

#thank {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 400px;
    justify-content: center;
    align-items: center;
    color: rgb(79, 35, 121);
}

#contact {
    display: flex;
    padding-bottom: 3rem;
    justify-content: center;
    background-color: rgba(201, 146, 245, 0.5);
    bottom: 0;
}

.contact-icons {
    text-align: center;
}

.contact-icons a {
    margin: 5px;
    padding: 15px 10px 10px 10px;
    color: rgb(96, 0, 148);
    font-size: 2rem;
}

.contact-icons a:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 50%
}

@media screen and (max-width:800px) {
    .navbar ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .headings {
        font-size: 2.5rem;
    }

    .headings1 {
        font-size: 3rem;
    }

    #contact {
        align-items: center;
    }
}

@media screen and (max-width: 530px) {
    #home {
        height: 400px;
    }

    .headings {
        font-size: 1.5rem;
    }

    .headings_hi {
        font-size: 2rem;
    }

    .box {
        width: 250px;
        height: 300px;
    }

    .title {
        font-size: 1.5rem;
    }
}